@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 :root{
  --orange:#ffa500;
}
header{
  top:0; left: 0; right:0;
  background:#333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

.logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
}
 .logo span{
  color:var(--orange);
}

  nav a{
  
  color: floralwhite;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 .8rem;
  display:  inline-block;
}
nav a:hover{
  background-color: lightslategrey;
  }

  .gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2.5rem;
}

.heading{
  text-align: center;
  padding:4.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:rgba(255, 165, 0,.2);
  color:darkred;
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}

.gallery .box-container .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border:1rem solid lightseagreen;
  border-radius: .5rem;
  flex:1 1 30rem;
  height: 20rem;
  position: relative;
}

.gallery .box-container .box img{
  height: 100%;
  width:100%;
  object-fit: cover;

}

.gallery .box-container .box .content{
  position: absolute;
  top:100%; left:0;
  height: 100%;
  width:100%;
  text-align: center;
  background:rgba(0,0,0,.7);
  padding:2rem;
  padding-top: 5rem;
}

.gallery .box-container .box:hover .content{
  top:0;
}

.gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color:lightblue;
}

.gallery .box-container .box .content p{
  font-size: 1.5rem;
  color:#eee;
  padding:.5rem 0;
}
.container{
  max-width: 1500px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    footer-size: 2rem;

}
.footer-col{
   width: 20%;
   padding: 0 30px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  font-family: 'Kalam', cursive;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -15px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  font-family: 'Kalam', cursive;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  font-family: 'Kalam', cursive;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  font-family: 'Kalam', cursive;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
.copy-footer
{
    background-color: #24262b;
    padding: 20px;
    color: white;
    text-align: center;
    height: 100%;
}
@media screen and (max-width:600px) 